{% extends "base.html" %}

{% block content %}

<div class="container">
                
    <h1 class="text-center">
        Detalle de Vehiculos
    </h1>      
    
        <form action="/vehiculos" method="GET" class="form-principal">  
            
            <div class="campos">
               
                <div class="caja">
                    <label for="" class="label">
                        Cod. Vehiculo
                    </label>
                    <input type="text" class="campo" name="InputIdVehiculo" id="InputIdVehiculo" disabled value="{{ vehiculo.IdVehiculo }}">
                </div>
                
                          
                <div class="caja">
                    <label for="" class="label">
                        Placa
                    </label>
                    <input type="text" class="campo" name="InputPlaca" id="InputPlaca" disabled value = "{{ vehiculo.Placa }}">
                 </div>


                 <div class="caja">
                    <label for="" class="label">
                        Marca
                    </label>
                    <input type="text" class="campo" name="InputMarca" id="InputMarca" disabled value = "{{ vehiculo.marca.Marca }}">
                 </div>


                <div class="caja">
                    <label for="" class="label">
                        Línea
                    </label>
                    <input type="text" class="campo" name="InputLinea" id="InputLinea" disabled value = "{{ vehiculo.Linea }}">
                </div>


                <div class="caja">
                    <label for="" class="label">
                        Modelo
                    </label>
                    <input type="text" class="campo" name="InputModelo" id="InputModelo" disabled value = "{{ vehiculo.Modelo }}">
                </div>
                
                
                <div class="caja">
                    <label for="" class="label">
                        Color
                    </label>
                    <input type="text" class="campo" name="InputColor" id="InputColor" disabled value = "{{ vehiculo.Color}}">
                </div>
                

                <div class="caja">
                    <label for="" class="label">
                        Tipo Carrocería
                    </label>
                    <input type="text" class="campo" name="InputTipoCarroceria" id="InputTipoCarroceria" disabled value = "{{ vehiculo.tipo_carroceria.TipoCarroceria}}">
                </div>
                
                
                <div class="caja">
                    <label for="" class="label">
                       Ciudad
                    </label>
                    <input type="text" class="campo" name="InputCiudad" id="InputCiudad" disabled value = "{{ vehiculo.ciudad_vehiculo.Ciudad}}">
                </div>


            </div>  
                
                <div class=footer-buttons>
                    <button class="btn btn-primary btn-sm text-center" onClick="redireccionarVehiculos()">Regresar</button>
                    
                    <!--<button onClick="prueba()" class="btn btn-success btn-sm text-center">prueba</button> -->
            </div>        
        </form>

        
</div>

<script>
 
function redireccionarVehiculos(){
    window.location.href = "{{ url_for('vehiculos_bp.vehiculos') }}"
}
function prueba(){
    var IdCliente = document.getElementById('InputIdCliente').value
    var IdTipoCliente = document.getElementById('InputIdTipoCliente').value
    var CC_Nit = document.getElementById('InputCC_Nit').value
    var Nombres = document.getElementById('InputNombres').value
    var IdCiudad = document.getElementById('InputIdCiudad').value
    var Direccion = document.getElementById('InputDireccion').value
    var Email = document.getElementById('InputEmail').value
    var Telefono = document.getElementById('InputTelefono').value


    alert(IdCliente +","+ IdTipoCliente +","+ CC_Nit +","+ Nombres +","+ IdCiudad +","+ Direccion +","+ Email +","+ Telefono)
}
</script>
{% endblock %}