{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">GA7-220501096-AA2-EV02 CODIFICACION DE MODULOS  SOFTWARE CODIFICADOS Y PROBADOS</h1>
        <h3 class="text-center">Introducción</h3>
    
       
        <div class="col">
            <p class="text-justify">Esta aplicación consta de un backend elaborado Flask, el cual es un framework web ligero y versátil escrito en Python que se utiliza para crear aplicaciones web rápidas y escalables. Se complementa con la librería SQLAlchemy que proporciona una capa de abstracción sobre las bases de datos relacionales comportándose como un ORM (Mapeo Objeto-Relacional), para  interactuar con la base de datos utilizando objetos y consultas en lugar de escribir SQL directamente. La base de datos está elaborada en Mysql. En los complementos encontrará detalles sobre la base de datos y la estructura del desarrollo en general.</h2>
            </div>
        </div>
        <div class="col">
            <h3>Link del Repositorio</h3>
            <a href="https://github.com/gcamachoj/taller_dev.git">https://github.com/gcamachoj/taller_dev.git</a>
            </div>
       
    <div class="row">
        <h3>Complementos</h3>
        <p>Puede descargar los siguientes elementos, los cuales hacen parte de las bases del proyecto.</p>
        <table class="table">

            <thead>
                <tr>
                <th scope = "col">#</th>
                    <th scope = "col">Archivo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="{{ url_for('static', filename='complementos/Elaboración de diagramas y plantillas para casos de uso del proyecto GA2-220501093-AA1-EV02.pdf') }}" download>Elaboración de diagramas y plantillas para casos de uso del proyecto GA2-220501093-AA1-EV02.pdf</a></td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td><a href="{{ url_for('static', filename='complementos/Elaboración de historias de usuario del proyecto GA2-220501093-AA1-EV03.pdf') }}" download>Elaboración de historias de usuario del proyecto GA2-220501093-AA1-EV03.pdf</a></td>
    
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td><a href="{{ url_for('static', filename='complementos/Especificación de los requerimientos funcionales y no funcionales del software. GA1-220501092-AA4-EV01.pdf') }}" download>Especificación de los requerimientos funcionales y no funcionales del software. GA1-220501092-AA4-EV01.pdf</a></td>
    
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td><a href="{{ url_for('static', filename='complementos/diagrama_bd_taller.mwb') }}" download>diagrama_bd_taller.mwb</a></td>
    
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td><a href="{{ url_for('static', filename='complementos/20240612_script_creación_bd_taller_v10.sql') }}" download>Script creacion de base de datos MySQL</a></td>
    
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td><a href="{{ url_for('static', filename='complementos/ESQUEMA RELACIONAL DE BASE DE DATOS.png') }}" download>ESQUEMA RELACIONAL DE BASE DE DATOS.png</a></td>
    
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td><a href="{{ url_for('static', filename='complementos/Diagrama de Clases del proyecto de software GA4-220501095-AA2-EV04.pdf') }}" download>Diagrama de Clases del proyecto de software GA4-220501095-AA2-EV04.pdf</a></td>
    
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td><a href="{{ url_for('static', filename='complementos/INTERFACES GRAFICAS SEGÚN REQUERIMIENTOS DEL PROYECTO GA6-220501096-AA3-EV03.pdf') }}" download>INTERFACES GRAFICAS SEGÚN REQUERIMIENTOS DEL PROYECTO GA6-220501096-AA3-EV03.pdf</a></td>
    
                </tr>

                <tr>
                    <th scope="row">9</th>
                    <td><a href="{{ url_for('static', filename='complementos/GA7-220501096-AA1-EV01 INFORME TECNICO DEL PLAN DE TRABAJO PARA CONSTRUCCION DEL SOFTWARE.pdf') }}" download>GA7-220501096-AA1-EV01 INFORME TECNICO DEL PLAN DE TRABAJO PARA CONSTRUCCION DEL SOFTWARE.pdf</a></td>
    
                </tr>

                <tr>
                    <th scope="row">10</th>
                    <td><a href="https://gcamachoj.github.io/CarRepairPro/">Despliegue Prototipo en Git-Hub</a></td>
                    
                </tr>
            
                
            </tbody>

        </table>

    </div>

    <footer>
        <P>Guillermo Camacho Jaramillo      - SENA: Servicion Nacional de Aprendizaje   - ANALISIS Y DESARROLLO DE SOFTWARE   - Ficha: 2627058</P>

    </footer>   

{% endblock%}